
.pilt {
  width: 100px;
  
}
.pilt:hover {

  opacity: 0.7;
  cursor: pointer;
}

.nupp {

   border: 2px double orangered; 

/* control ä on comments */
}
.nupp:hover {

  background-color: rgb(135, 121, 121);
  cursor: pointer;
}


